{% extends "./base.html" %}
{% block title %}Chase expenses{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="mx-auto order-0">
            <span class="navbar-brand mx-auto" href="#">Create Expense</span>
        </div>
    </nav>
    <br>
    <div class="row">
        <div class="offset-2 col-8">
            <div class="card card-body">
                <form id="createForm">
                    <div class="form-group row">
                        <label for="expenseName" class="col-sm-3 col-form-label">Name/Location</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="expenseName" value='' required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="expenseAmount" class="col-sm-3 col-form-label">Amount</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="expenseAmount" value='' required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="expenseDate" class="col-sm-3 col-form-label">Date</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="expenseDate" placeholder='YYYY-MM-DD' value='' required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="expenseCategory" class="col-sm-3 col-form-label">Category</label>
                        <div class="col-sm-9">
                            <select id="expenseCategory" class="custom-select">
                                <option selected value="unknown">Unknown</option>
                                <option value="alcohol">Alcohol</option>
                                <option value="coffee">Coffee</option>
                                <option value="groceries">Groceries</option>
                                <option value="home">Home</option>
                                <option value="pet">Pet</option>
                                <option value="takeout">Takeout</option>
                                <option value="travel">Travel</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="hideExpenseCheck">
                        <label class="form-check-label" for="hideExpenseCheck">
                            Hide Expense
                        </label>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary mb-2">Create</button>
                </form>
                <div id="info"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            $('#createForm button').on('click', function(event) {
                event.preventDefault();
                console.log("Creating a manual expense:", event);

                // get the data from selection and checkbox
                let amountExpense = $('#expenseAmount').val();
                let expenseDate = $('#expenseDate').val();
                let expenseLocation = $('#expenseName').val();
                let hideExpense = $('#hideExpenseCheck').is(':checked');
                let categoryExpense = $('#expenseCategory').find(':selected').val();
                console.log("Data options?", hideExpense, categoryExpense);

                $.post(
                    "{{ '/createExpense' | urlencode }}",
                    {
                        amount: amountExpense,
                        date: expenseDate,
                        location: expenseLocation,
                        hide: hideExpense,
                        category: categoryExpense
                    },
                    function(data, status) {
                        alert("Status: " + status);
                        window.location.replace("/expenses");
                    }
                );
            });
        })
    </script>

{% endblock %}
