{% extends "./base.html" %}
{% block title %}Chase expenses{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="mx-auto order-0">
            <span class="navbar-brand mx-auto" href="#">Chase Expenses: {{ "$%.2f" | format(total_amt) }}</span>
        </div>
    </nav>
    <br>
    <div class="row">
        <div class="offset-2 col-8">
            <div class="card card-body">
                <form id="updateForm">
                    <div class="form-group row">
                        <label for="expenseName" class="col-sm-2 col-form-label">Expense</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="expenseName" value="{{ expense.expense_location }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="expenseAmount" class="col-sm-2 col-form-label">Amount</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="expenseAmount" value='{{ "$%.2f"| format(expense.amount) }}'>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="expenseCategory" class="col-sm-2 col-form-label">Category</label>
                        <div class="col-sm-10">
                            <select id="expenseCategory" class="custom-select">
                                <option selected value="unknown">Unknown</option>
                                <option value="alcohol">Alcohol</option>
                                <option value="coffee">Coffee</option>
                                <option value="groceries">Groceries</option>
                                <option value="pet">Pet</option>
                                <option value="takeout">Takeout</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="hideExpenseCheck">
                        <label class="form-check-label" for="hideExpenseCheck">
                            Hide Expense
                        </label>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary mb-2"><a href="">Update</a></button>
                </form>
                <div id="info"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            $('#updateForm button').on('click', function(event) {
                event.preventDefault();
                console.log("Am i getting here?", event);

                // get the data from selection and checkbox
                let hideExpense = $('#hideExpenseCheck').is(':checked')
                let categoryExpense = $('#expenseCategory').find(':selected').val()
                console.log("Data options?", hideExpense, categoryExpense);

                $.post(
                    "{{ '/updateExpense' | urlencode }}",
                    {
                        id: "{{ expense.id }}",
                        hide: hideExpense,
                        category: categoryExpense
                    },
                    function(data, status) {
                        alert("Status: " + status);
                        window.location.replace("/expenses");
                    }
                );
            });
        })
    </script>

{% endblock %}
