{% extends "./base.html" %}
{% block title %}Chase expenses{% endblock %}
{% block js_script %}
    <script>
    $(document).ready(function(){
        $("form").submit(function(){
            alert("Submitted");
        });
    });
    </script>
{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="mx-auto order-0">
            <span class="navbar-brand mx-auto" href="#">Chase Expenses: {{ "$%.2f" | format(total_amt) }}</span>
        </div>
    </nav>
    <br>
    {% for row in expenses %}
    <div class="row">
        {% for expense in row %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ '/expense/%s' %expense.id | urlencode }}">
                            {{ expense.expense_location }}
                        </a>
                    </h5>
                    <p class="card-text">Amount: {{ "$%.2f" | format(expense.amount) }}</p>
                    {% if expense.category %}
                    <p class="card-text">Category: {{ expense.category }}</p>
                    {% endif %}
                    {% if expense.hide %}
                    <p class="card-text">Hide?: {{ expense.hide }}</p>
                    {% endif %}
                </div>
                <div class="card-footer text-muted text-center">
                    {{ expense.expense_date.strftime('%Y-%m-%d') }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    {% endfor %}
{% endblock %}