{% extends "./base.html" %}
{% block title %}Chase expenses{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="mx-auto order-0">
            <span class="navbar-brand mx-auto" href="#">Chase Expenses</span>
        </div>
    </nav>
    <br>
    {% for row in expenses %}
    <div class="row">
        {% for expense in row %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ expense.expense_location }}</h5>
                    <p class="card-text">{{ "$%.2f" | format(expense.amount) }}</p>
                </div>
                <div class="card-footer text-muted text-center">
                    {{ expense.expense_date.strftime('%Y-%m-%d') }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    {% endfor %}
{% endblock %}